@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */

/* GENERAL 
=========================================================================
=========================================================================
*/
html {
    color: #FAFAFF;
}

body {
  margin: 0;
  background-color: #1C1C1C;
  font-family: 'Roboto Mono';
  padding: 1rem;
  max-width: 768px;
  margin: auto;
}

@media screen and (max-width: 600px) {
  body {
    width: unset;
  }
}

a {
  text-decoration: none;
  color: #2DABFF;
  position: relative;
}

p, ul, li {
  font-weight: 300;
  padding-bottom: 0.5rem;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #2DABFF;
}

hr {
  border-top: 3px dashed #FAFAFF;
  border-bottom-width: 0px;
}

h1 {
  padding: 3rem 0 2rem 0;
}

@media screen and (max-width: 600px) {
  h1 {
  padding: 0rem 0 2rem 0;
  }
}

h2, h3, h4, h5, h6 {
  padding: 2rem 0 0 0;
}

.previous-page {
  padding: 2rem 0;
}

.blog-date {
  margin-top: 0;
  padding-bottom: 3rem;
}

.blog-title {
  padding-bottom: 0;
}



/* NAVIGATION BAR 
=========================================================================
=========================================================================
*/

.topnav {
  overflow: hidden;
}

.topnav .active {
  text-decoration: underline;
  text-decoration-color: #2DABFF;
  color: #FAFAFF;
}

.topnav .icon {
  display: none;
}

.topnav a {
  float: right;
  text-align: center;
  padding: 1rem 1rem;
}

#topnav-logo-link {
  float: left;
  padding: 1rem 1rem 1rem 0;
  color: #2DABFF;
}

#topnav-logo-link em {
  color: #FAFAFF;
  font-style: normal;
}

#topnav-first-link {
  padding: 1rem 0 1rem 1rem;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive { position: relative; }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a:not(:last-child) {
    float: none !important;
    display: block;
    text-align: left;
    padding: 1rem 1rem 1rem 0 !important;
  }

  .topnav.responsive {
    background-color: #1C1C1C;
    z-index: 99999;
  }
}

/* ANIMATIONS 
=========================================================================
=========================================================================
*/

#app-navbar.first-visit-animation, #hero-div.first-visit-animation {
  opacity: 0;
  animation-delay: 2.5s;
  animation-name: GlobalFadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#app-navbar.not-first-visit-animation, #hero-div.not-first-visit-animation {
  opacity: 0;
  animation-delay: 0s;
  animation-name: GlobalFadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#galaxy-background.first-visit-animation {
  opacity: 0;
  animation-name: GlobalFadeIn, GalaxyFadeOut;
  animation-duration: 0.5s, 1s;
  animation-delay: 0.5s, 2.5s;
  animation-iteration-count: 1, 1;
  animation-fill-mode: forwards;
}

#galaxy-background.not-first-visit-animation {
  opacity: 0;
  animation-name: GalaxyFadeIn;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.global-fadeout {
  animation-name: GlobalFadeOut;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.global-fadein {
  animation-name: GlobalFadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards; 
}

@keyframes GalaxyFadeIn {
    0% { opacity: 0; }
    100% { opacity: 0.4; }
}

@keyframes GalaxyFadeOut {
    0% { opacity: 1; }
    100% { opacity: 0.4; }
}

@keyframes GlobalFadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes GlobalFadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* GALAXY BACKGROUND 
=========================================================================
=========================================================================
*/

#galaxy-background {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -99999;
}

/* MAIN HERO DIV 
=========================================================================
=========================================================================
*/

#hero-div {
  max-width: 768px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0 1rem 0 0;
  z-index: -1;
}

@media screen and (max-height: 600px) {
  #hero-div {
    max-width: unset;
    position: unset;
    top: unset;
    transform: unset;
  }
}

